/*******Fonte********/
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav { 
    box-shadow: 0 0 5px 0 black ;
}

.nav ul {
    list-style: none;
    padding-bottom: 10px;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    color: #0052CC;
    padding-right: 15px;
    display: inline-block;
    text-decoration: none;
    height: inherit;;
}

.nav ul li a:hover {
    color: #0046ae;
}

.nav ul li:first-child {
    display: inline-block;
    padding-top: 15px;
    padding-left: 350px;
}

.nav ul li:last-child a {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #0046ae;
    padding: 2px 10px;
}

.nav ul li:last-child a:hover {
    background-color: gray;
    transition: 0.6s;
}

.login {
    padding-left: 350px;
}

.maintxt {
    color: #253858;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 70px;
    margin: 0 700px;
}

.sectxt {
    color: #42526E;
    text-align: center;
    padding-top: 40px;
    margin: 0 580px;
    font-size: 1.1rem;
}

.getbtdiv {
    text-align: center;
    padding-top: 40px;
    margin: 0 600px 0 600px;
}

.getbt {
    background-color: #0052CC;
    color: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: #0052CC;
    border-radius: 3px;
    padding: 7px 16px;
    text-decoration: none;
}

.imgdiv {
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    * {
        padding: 0.1px;
    }
    
    .maintxt {
        color: #253858;
        text-align: center;
        padding-top: 70px;
        font-size: 1.9rem;
        margin: 0;
    }

    .sectxt {
        color: #42526E;
        text-align: center;
        padding-top: 40px;
        margin: 0;
        font-size: 1.2rem;
    }

    .getbtdiv {
        text-align: center;
        padding-top: 40px;
        margin: 0;
    }

    nav ul li .bt {
        display: none;
    }

    .login {
        padding-left: 0;
    }

    .nav ul li:first-child {
        padding-left: 0px;
        display: inline-block;
    }

    .nav ul li:last-child a {
        display: inline;
        padding: 2 10px;
    }

    .nav ul:last-child li{
        margin-left: 39px;
    }

    div .img {
        max-width: 600px;
        max-height: 964px;
        width: auto;
        height: auto;
    } 
}